body {
              background-color:#999999;
              font-family: 'Oswald', sans-serif;
      }
p
{
  color:#000000;
  font-size:20px;
}

.textBox
{
  height:30px;
  width:300px;
}

.logo p {
    /* other styles goes here... */
    display: inline-block;
    vertical-align: top;
}

button
{

  width:30%;
  border-radius:10px;
  padding:10px;
  font-size:40px;
  font-family: 'Oswald', sans-serif;
  font-color:'white';
  height:79px;
  cursor:pointer;
  background-color:green;
}